<div id="aa">
<section style=" margin-top: 10%;">
  <div class="container row login-box">
    
    <div class="col login-title">
      <h1>
      Hey Buddies! Login here
      </h1>
      <span class="small-text">Let's get started!</span>
    </div>
    <div class="col login-form">
      <div class="avatar">
    
  
      </div>
      <div class="registration">Need an Account? <a href="register">Sign Up</a>.
      </div>
      <form action="" method="POST">
      <label for="login" class="login">
        <input id="login" type="text" placeholder="Username" />
      </label>
      <label for="passwd" class="passwd">
        <input id="passwd" type="password" placeholder="Password" />
      </label>
      <button class="button" type="submit" >Sign In</button>
      </form>
      <div class="lost-passwd">
      <a href="#">Forgot your password?</a>
      </div>
    </div>
    </div>
  
  </section>
</div>
  
  
